@import '../../assets/main.scss';

.detailedCountry{
    
    margin: 5rem auto;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 1.6rem;
    
    &__btn{
        
        border: none;
        outline: none;
        padding: 1rem 2rem;
        box-shadow: 0px 0px 3px $LM-dark-gray;
        border-radius: 5px;
        background-color: white;
        color: $LM-dark-gray;
        cursor: pointer;

        &-icon{
            margin-right: 1rem;
        }
    }


    &__card{
        margin: 3rem 0;
        display: flex;
        align-items: center;

        @media screen and (max-width: 1300px){
            flex-direction: column;
            align-items: flex-start;
        }

        &-left, &-right{
            margin: 0 auto;

            @media screen and (max-width: 1300px){
                margin:  0;
                align-self: flex-start;
            }

        }

        &-left{
            @media screen and (max-width: 600px){
                width: 100%;
                text-align: left;
            }
        }
        
    }

    &__flag{
        width: 40rem;
        height: 100%;
        margin-right: 10rem;
        object-fit: cover;
        box-shadow: 0px 0px 3px $LM-dark-gray;

        @media screen and (max-width: 1300px){
            width: 45rem;
            margin-right: 0;
        }
        @media screen and (max-width: 600px){
            width: 100%;
        }
        
    }

    &__name{
        text-align: left;
    }

    &__info{
        
        display: flex;
        @media screen and (max-width: 700px){
            flex-direction: column;
        }

        &-left, &-right{
            text-align: left;
        }
        &-left{
            margin-right: 10rem;
        }

        &-title{
            font-weight: 800;
            text-align: left;
        }
    }

    &__neighbours{
        display: flex;
        align-items: center;

        @media screen and (max-width: 700px){
            margin: 2rem 0;
            flex-direction: column;
            align-items: flex-start;
        }
        

        &-list{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            list-style-type: none;

            @media screen and (max-width: 700px){
                padding: 0;
                align-items: flex-start;
            }
            
        }

        &-item{
            margin: 1rem 1rem 1rem 0;
            

        }
    }
}