@import '../../assets/main.scss';

.search{
    display: flex;
    justify-content: space-between;
    color: $LM-dark-gray;
    padding: 0 3rem;

    @media screen and (max-width: 800px){
        flex-direction: column;
    }

    &__box{
        display: flex;
        align-items: center;
        position: relative;
    }
    &__icon{
        font-size: 2rem;
        position: absolute;
        left: 2rem;
    }
    &__input, &__select{
        padding: 2rem 5rem;
        width: 35rem;
        border: none;
        outline: none;
        border-radius: 5px;
        box-shadow: 0px 0px 3px $LM-dark-gray;

        @media screen and (max-width: 900px){
            width: 23rem;
        }
        @media screen and (max-width: 800px){
            margin: 1rem 0;
        }
        @media screen and (max-width: 400px){
            padding: 2rem 0 2rem 5rem;
            width: 23rem;
        }
    }


    &__select{
        width: 20rem;
        outline: none;
        padding: 1rem;
        font-size: 1.6rem;     

        &-option{
            padding: 2rem;
        }
    }
}